html
  overflow: hidden !important

// scroll bar custom css : ie not work
::-webkit-scrollbar
  width: 8px
  height: 8px
  &-track
    background-color: theme-color(t300)

  &-thumb
    background-color: theme-color(white, 54)
    border-radius: 4px
    &:hover
      background-color: theme-color(white, 80)

  &-button
    background-color: theme-color(t300)

  &-corner
    background-color: theme-color(t300)
