.radius-4
  border-radius: 4px !important

.radius-20
  border-radius: 20px !important

.min-heaight__auto
  min-height: auto !important
  
// Divider height minus
.fill-height__n7
  height: calc(100% - 56px - 2px)
  max-height: calc(100% - 56px - 2px)

.fill-height__n8
  height: calc(100% - 64px)
  max-height: calc(100% - 64px)

.fill-height__vh-n16
  height: calc(100vh - 128px)

.width__24
  max-width: 96px !important

.sticky
  position: sticky
  top: 0
  z-index: 10

.nowrap
  white-space: nowrap