$dark-colors: (
  purple: #7c60f7,
  lilac: #647eff,
  blue: #78a7f8,
  skyblue: #7fcbec,
  cyan: #0ad8dd,
  mint: #7be9cd,
  green: #c7f5a5,
  yellow: #f8d4a1,
  orange: #f49271,
  red: #e36a98,
  pink: #e875c7
);
$opacity: (
  100: 0,
  80: 0.2,
  54: 0.46,
  30: 0.7,
  20: 0.8,
  10: 0.9,
  5: 0.95
);

$theme-colors: (
  white: #d4ebf7,
  t100: #373b76,
  t200: #2f3365,
  t300: #262953,
  t400: #1b1d3c,
  t500: #171831
);