$dark-colors: (
  purple: #7c60f7,
  lilac: #647eff,
  blue: #78a7f8,
  skyblue: #7fcbec,
  cyan: #0ad8dd,
  mint: #7be9cd,
  green: #c7f5a5,
  yellow: #f8d4a1,
  orange: #f49271,
  red: #e36a98,
  pink: #e875c7
);
$opacity: (
  100: 0,
  80: 0.2,
  54: 0.46,
  30: 0.7,
  20: 0.8,
  10: 0.9,
  5: 0.95
);

$theme-colors: (
  white: #D2D6EF,
  t100: #5d658e,
  t200: #4d557a,
  t300: #444a6d,
  t400: #2d324d,
  t500: #272b45,
  t600: #212330
);
