// Dark theme color changed **only color css
.theme--dark {
  &.v-application {
    @include radial-t400-t500(at 50% 0%);
  }

  // Chip basic color
  &.v-chip {
    color: theme-color(t500) !important;
  }

  // Data table Background remove
  &.v-data-table {
    background-color: transparent !important;
    // Fixed Header color
    &.v-data-table--fixed-header thead th {
      background-color: theme-color(t300) !important;
    }
  }

  // Slider Thumb label text color
  .v-slider__thumb-label {
    color: theme-color(t500);
  }

  // Solo text field custom (hover, outline)
  &.v-text-field--solo {
    // 1. Default outline added
    & > .v-input__control > .v-input__slot {
      border: 1px solid theme-color(t200);
      @include transition(200ms);
    }

    // 2. If solo textfield has error
    &.v-input--has-state > .v-input__control > .v-input__slot {
      border: 1px solid color(red);
    }

    // 3. If solo textfield focused
    &.v-input--is-focused {
      // Normal
      & > .v-input__control > .v-input__slot {
        border: 1px solid color(lilac);
        @include box-shadow(0 0 4px 4px (color(lilac, 30)));
      }
      // Error
      &.v-input--has-state > .v-input__control > .v-input__slot {
        border: 1px solid color(red);
        @include box-shadow(0 0 4px 4px (color(red, 30)));
      }
    }

    // 4. Disabled, Readonly
    &.v-input--is-disabled > .v-input__control > .v-input__slot,
    &.v-input--is-readonly > .v-input__control > .v-input__slot {
      background: theme-color(t200);
    }
  }
}
