// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// Typography
$font-size-root: 14px;

// Grid
$grid-gutter: 8px !default;

// Dark Theme color
$theme-colors: (
  t100: #373b76,
  t200: #2f3365,
  t300: #262953,
  t400: #1b1d3c,
  t500: #171831
);

// $colors: (
//   purple: #7C60F7,
//   lilac: #647EFF,
//   blue: #78A7F8,
//   skyblue: #7FCBEC,
//   cyan: #0AD8DD,
//   mint: #7BE9CD,
//   green: #C7F5A5,
//   yellow: #F8D4A1,
//   orange: #F49271,
//   red: #E36A98,
//   pink: #E875C7
// );
$opacity: (
  100: 0,
  80: 0.2,
  54: 0.46,
  30: 0.7,
  20: 0.8,
  10: 0.9,
  5: 0.95
);
$shades: (
  "white": #d4ebf7,
  "black": #000000,
  "transparent": transparent
);

@import "scss/abstracts/_functions.sass";

$material-dark: () !default;
$material-dark: map-deep-merge(
  (
    "status-bar": (
      "regular": map-get($shades, "black"),
      "lights-out": rgba(map-get($shades, "black"), 0.2)
    ),
    "app-bar": map-get($theme-colors, "t500"),
    "background": map-get($theme-colors, "t500"),
    "calendar": (
      "background-color": #303030,
      "outside-background-color": #202020,
      "line-color": map-get($theme-colors, "t200"),
      "interval-color": map-get($theme-colors, "t100"),
      "interval-line-color": map-get($theme-colors, "t400"),
      "text-color": map-get($shades, "white"),
      "past-color": rgba(map-get($shades, "white"), 0.5)
    ),
    "cards": map-get($theme-colors, "t400"),
    "chips": map-get($theme-colors, "t300"),
    "dividers": rgba(map-get($shades, "white"), 0.12),
    "text": (
      "theme": map-get($shades, "white"),
      "primary": map-get($shades, "white"),
      "secondary": rgba(map-get($shades, "white"), 0.7),
      "disabled": rgba(map-get($shades, "white"), 0.5),
      "link": #7c60f7,
      "link-hover": map-get($theme-colors, "t100")
    ),
    "icons": (
      "active": map-get($shades, "white"),
      "inactive": rgba(map-get($shades, "white"), 0.5)
    ),
    "inputs": (
      "box": map-get($shades, "white"),
      "solo-inverted": rgba(map-get($shades, "white"), 0.16),
      "solo-inverted-focused": map-get($shades, "white"),
      "solo-inverted-focused-text": #647eff
    ),
    "buttons": (
      "disabled": rgba(map-get($shades, "white"), 0.3),
      "focused": rgba(map-get($shades, "white"), 0.12),
      "focused-alt": rgba(map-get($shades, "white"), 0.1),
      "pressed": rgba(map-get($theme-colors, "t100"), 0.25)
    ),
    "expansion-panels": (
      "focus": map-get($theme-colors, "t200")
    ),
    "selection-controls": (
      "thumb": (
        "inactive": map-get($theme-colors, "t200"),
        "disabled": map-get($theme-colors, "t300")
      ),
      "track": (
        "inactive": rgba(map-get($shades, "white"), 0.3),
        "disabled": rgba(map-get($shades, "white"), 0.1)
      )
    ),
    "slider": (
      "active": rgba(map-get($shades, "white"), 0.3),
      "inactive": rgba(map-get($shades, "white"), 0.2),
      "disabled": rgba(map-get($shades, "white"), 0.2),
      "discrete": map-get($shades, "white")
    ),
    "skeleton":
      linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.05),
        transparent
      ),
    "states": (
      "hover": 0.08,
      "focus": 0.24,
      "selected": 0.16,
      "activated": 0.24,
      "pressed": 0.32,
      "dragged": 0.16
    ),
    "tabs": rgba(map-get($shades, "white"), 0.6),
    "toggle-buttons": (
      "color": map-get($shades, "white")
    ),
    "text-fields": (
      "filled": rgba(map-get($shades, "black"), 0.1),
      "filled-hover": rgba(map-get($shades, "black"), 0.2)
    ),
    "input-bottom-line": rgba(map-get($shades, "white"), 0.7),
    "stepper": (
      "active": rgba(map-get($shades, "white"), 1),
      "completed": rgba(map-get($shades, "white"), 0.87),
      "hover": rgba(map-get($shades, "white"), 0.75)
    ),
    "table": (
      "active": map-get($theme-colors, "t300"),
      "hover": map-get($theme-colors, "t500"),
      "group": map-get($theme-colors, "t400")
    ),
    "picker": (
      "body": map-get($theme-colors, "t300"),
      "clock": map-get($theme-colors, "t400"),
      "indeterminateTime": map-get($theme-colors, "darken-1"),
      "title": map-get($theme-colors, "t400")
    ),
    "color-picker": (
      "checkerboard": rgba(map-get($shades, "white"), 0.12)
    ),
    "bg-color": #303030,
    "fg-color": map-get($shades, "white"),
    "text-color": map-get($shades, "white"),
    "primary-text-percent": 1,
    "secondary-text-percent": 0.7,
    "disabledORhints-text-percent": 0.5,
    "divider-percent": 0.12,
    "active-icon-percent": 1,
    "inactive-icon-percent": 0.5
  ),
  $material-dark
);

// Chip
$icon-sizes: () !default;
$icon-sizes: map-deep-merge(
  (
    "x-small": (
      "font-size": 10,
      "height": 16
    ),
    "small": (
      "font-size": 12,
      "height": 24
    ),
    "default": (
      "font-size": 14,
      "height": 32
    ),
    "large": (
      "font-size": 16,
      "height": 54
    ),
    "x-large": (
      "font-size": 18,
      "height": 66
    )
  ),
  $icon-sizes
);

// Data Table
$data-table-regular-row-height: 40px !default;
$data-table-regular-header-height: 40px !default;
$data-table-dense-row-height: 32px !default;
$data-table-dense-header-height: 32px !default;
